*TEST/*
bin/*
outputs/*
initial_outputs/*
fargo3d
fargo3d_photoevap
arch/*
scripts/bound_*.code
src/rescale.c
std/.lastflags
std/.lastflags.old
*.pyc
*.blocks
*.tar.gz
*.ipynb_checkpoints
*.units
*.dat
*.swp
*.bak
*tests.log
mp.pro
.vscode
